<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#kv-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>

      <a class="navbar-brand">Kronosville</a>
    </div>
    <div class="collapse navbar-collapse" id="kv-navbar">
      <ul class="nav navbar-nav">
        {% if page.kv_page == 'home' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
        <a href="{{ site.baseurl }}/kv">Home</a></li>
        {% if page.kv_page == 'donate' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
        <a href="{{ site.baseurl }}/kv/donate">Support us</a></li>
        {% if page.kv_page == 'vote' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
        <a href="{{ site.baseurl }}/kv/vote">Vote</a></li>
        {% if page.kv_page == 'staff' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
        <a href="{{ site.baseurl }}/kv/staff">Staff</a></li>
        {% if page.kv_page == 'help' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
        <a href="{{ site.baseurl }}/kv/help">Help</a></li>
        <li><a href="http://www.reddit.com/r/kronosville">Reddit</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
