body {
  background: url(../imgs/background.jpg) no-repeat fixed center;
  background-size: cover;
}

#status {
  font-family: monospace;
  padding: 10px;
}

.jumbotron {
  font-family: 'EB Garamond', serif;
}

.jumbotron h4 {
  margin-top: 30px;
  font-weight: bold;
}

.gold {
  font-weight: bold;
  color: #CC9900;
}

.smaller {
  font-size: 0.75em;
}

table img {
  padding: 15px;
}